@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* UNIVERSAL CODE APPLIED TO PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    min-width: 400px;
    height: 617px;  
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    background: #fff;
}


/* NAVBAR CODE */
.navbar {
    width: 100%;
    height: 48px;
    padding: 6px;
    margin-top: 3px;  
    display: flex;
    align-items: center;
}

.navbar-items {
    width: 100%;
    height: 100%; 
    display: inline-block;   
    font-size: 1rem;
    color: #202124; 
} 

.nav-list {
    width: 217.594px;
    height: 48px;
      padding-left: 25px;  
    padding-right: 4px; 
    display: flex; 
    float: right; 
    align-items: center; 
} 

.nav-list-left {
    width: 106.594px;
    height: 24px;
    padding-right: 15px;
     display: flex;  
    color: black;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
} 
 
.gmail {
    width: 33.953px;
    height: 24px; 
     padding-left: 15px;
    display: inline-flex; 
}  

.gmail > a {
    width: 100%;
    height: 100%;
    text-decoration: none;  
    color: #202124;
} 

.gmail > a:hover {
    text-decoration: underline;
}
 
.images {
    width: 42.641px;
    height: 24px;
    padding-left: 15px;
    display: inline-flex; 
}

.images > a {
    width: 100%;
    height: 100%;
    padding-left: 15px; 
    padding-right: 15px; 
    text-decoration: none;  
    color: #202124;
}  

.images > a:hover {
    text-decoration: underline;
} 

.nav-list-right {
    width: 96px;
    height: 48px; 
    color: black;
    display: flex;
    align-items: center; 
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 
} 

.apps > a {
   color: black; 
   padding-left: 18px; 
}  

.profile > a {
    color: black; 
    padding-left: 15px; 
}  